<%- include ('partials/header') %>

    <div class="form-container">
        <h1>Add A New Section</h1>
        <form class="newSection" action="/admin/" method="POST">
            <input class="inp" type="text" name='sectionName' placeholder="Section Name">
            <button class="inpBtn" type="submit">Add a Section</button>
        </form>
    </div>
</div>

<%- include ('partials/footer') %>