<%- include ('user/partials/header') %>

<section id="sect">
    <div class="content">
      <div class="texti">
        <h2><span>V</span>alidy</h2>
        <p class="des">Pour les étudiants des universités</p>
        <a class="btn "href="/sections">StarT</a>
      </div>
    </div>
    <div class="imgBx">
      <img src="upload/blob.svg" alt="">
    </div>
    <p class="par">On vous aidez pour valider vos modules: vous trouvez des leçons, et des exercices.</p>

    <ul class="sci">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <span display='none' class="copyright">BitScript Copyright &copy; 2020</span>
</section>
</div>

    <script src="/stylesheets/js/index.js" type="text/javascript"></script>
</body>
</html>
