<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/upload/validy.png" size="96x96">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Validy</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/css/nav.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/css/app.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
      <div class="warp">
        <nav>
          <div>
            <a class="logo" href="/"><img src="/upload/validy.png" alt=""></a>
          </div>
          <ul class="nav-links">
            <li>
              <a href="/sections">Courses</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
          <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </nav>